body {
    margin: 0;
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 10;
    z-index: 100;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

header .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease; /* Добавляем transition */
    border: 2px solid transparent; /* Делаем рамку прозрачной по умолчанию */
}

header .logo img:hover {
    transform: scale(1.2); /* Добавляем увеличение */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Добавляем белое свечение */
    border: 2px solid rgba(255, 255, 255, 0.8); /* Делаем рамку белой */
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    transition: transform 0.3s ease, text-shadow 0.3s ease; /* Добавляем text-shadow transition */
}

header nav a:hover {
    color: #ccc;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Добавляем свечение */
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin-bottom: 30px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавляем transition */
}

.card:hover {
    transform: translateY(-5px) scale(1.05); /* Поднимаем и увеличиваем */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); /* Добавляем белое сияние */
}

.card-content {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 2px solid #000;
    object-fit: cover;
}

.card .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-text {
    position: relative; /* Важно! */
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 0;
    background: linear-gradient(90deg, yellow, green, blue, indigo, violet, red, orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 800% auto;
    animation: gradient 40s linear infinite;
    /* Убираем text-shadow отсюда */
}

.id {
    font-size: 1em;
    color: #333;
    margin-left: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 800% center;
    }
}

#friends {
    width: 80%;
    max-width: 800px;
    text-align: center;
    margin-bottom: 50px;
}

#friends h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.8);
    transition: transform 0.3s ease, color 0.3s ease,
    background-size 0.3s ease, -webkit-text-fill-color 0.3s ease; /* Добавляем transition */
}

#friends h2:hover {
    transform: scale(1.1); /* Увеличиваем текст */
    color: transparent;
    background: linear-gradient(90deg, white, yellow, gold, yellow, white); /* Анимированный градиент */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% auto;
    animation: gradient-friends 5s linear infinite;
}

@keyframes gradient-friends {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 400% center;
    }
}

.friends-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.friend-card {
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.friend-card:focus {
    outline: none;
}

a:focus {
    outline: none;
}

.friend-card:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 1.5);
}

.friend-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin-bottom: 5px;
}

.friend-card h3 {
    font-size: 0.8em;
    margin: 5px 0;
}

.friend-card p {
    font-size: 0.6em;
    color: #555;
    margin: 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        margin-top: 10px;
    }

    header nav a {
        margin-left: 0;
        margin-right: 15px;
    }

    .card {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .card-content {
        padding-right: 0;
        text-align: center;
    }

    .avatar img {
        width: 120px;
        height: 120px;
        margin-top: 20px;
    }
    }
